<div class="container-fluid details">
    <div class="row">
        <div class="col-md-12 center-block text-center">
            <section-header text="Zajęcia muzyczne" sub="Edukacja i animacja" icon="book">
            </section-header>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-12">
            <p class="text-justify">
                Agencja artystycza John’s Music zajmuje się także edukacją dzieci, młodzieży i dorosłych. Członkowie naszego zespołu posiadają wykształcenie muzyczne oraz pedagogiczne, które poparte jest bogatym doświadczeniem zawodowym. Dodatkowym atutem jest praktyka sceniczna, która ułatwia pracę w grupie. Potrafimy przygotować harmonogram zajęć adekwatny do charakteru oraz wieku grupy. Koordynujemy dłuższe projekty edukacyjne, a naszą specjalnością są zajęcia dla przedszkoli.
            </p>
        </div>
    </div>
    <section ng-include="'views/education/rhytmics.html'">
    </section>
    <section ng-include="'views/education/musictherapy.html'">
    </section>
</div>