@media (max-height: 768px) {
    .page-section.marketing {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

@media (min-height: 769px) {
    .page-section.marketing {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

@media (aspect-ratio: 16/9),
(aspect-ratio: 16/10) {
    .page-section.marketing {
        background-size: 100% auto;
        background-position: center top;
    }
}

@media (max-width: 767px) {
    .page-section {
        border-bottom: 1px solid #ccc;
    }

    footer .page-section {
        border-top: none;
        background-color: initial;
    }

    .details {
        box-shadow: none;
        -ms-box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
    
    .pic:hover,
    .pic.rot-l:hover,
    .pic.rot-r:hover {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
    }
    #start .marketing {
        display: block;
    }
    .page-section#start {
        border: none;
    }
}
