.portrait {
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact-marketing {
    background-image: url('http://placekitten.com/1919/1082');
}

.contact-map {
    margin-top: 30px;   
}

.media-bg {
    background-image: url('../images/media.jpg');   
}

.about-bg {
    background-image: url('../images/team.jpg');   
}

#contact .details {
    -moz-box-shadow:    inset  0  8px 8px -8px #696868; 
    -webkit-box-shadow: inset  0  8px 8px -8px #696868; 
     box-shadow:        inset  0  8px 8px -8px #696868;
}

#contact address {
    font-size: larger;
    margin-top: 30px;
}