
.logo {
    background-image: url('../images/logo-white.png');
}

.bells {
    background-image: url('../images/cymbalki_1280.jpg')   
}

.guitar {
    background-image: url('../images/guitar.jpg')   
}