
.logo {
    background-image: url('../images/logo-white.png');
}

.bells {
    background-image: url('../images/cymbalki_1280.jpg')   
}

.guitar {
    background-image: url('../images/guitar.jpg')   
}

.sax {
    background-image: url('../images/tenor-sax2.jpg')   
}

.bear {
    background-image: url('../images/guitar-bear.jpg')   
}

.jazz1 {
    background-image: url('../images/jazz-63212_640.jpg')   
}

.jazz2 {
    background-image: url('../images/jazz-191548_640.jpg')   
}