address.info {
    margin-bottom: 10px;   
}

.contact-marketing {
    background-image: url('../images/contact-board.jpg');
}

.contact-map {
    margin-top: 30px;   
}

#contact address {
    font-size: larger;
    margin-top: 30px;
}

