.home-bg {
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url('../images/sax_home.jpg');
    color: white;
    border-top: none !important;
}

.home-bg .home-lead {
    display: inline-block;
    font-weight: normal;
    font-size: 3em;
    font-family: 'Pacifico';
    margin-bottom: 50px;
}

.home-button {
  font-size: 3em;
  border-radius: 50%;
  padding: 6px;
  transition: 0.2s;
}

.home-button span {
  display: block;
  width: 50px;
  height: 50px;
  position: relative;
  top: -7px;
}

.home-button:hover {
  transform: scale(1.2) translateY(-10px);
  transition: 0.2s;
  transition-timing-function: ease-out;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.7);
  -moz-box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.7);
  box-shadow: 0px 0px 10px 1px rgba(255,255,255,0.7);
}

.home-button:active {
  transition: 0.1s;
  background-color: white;
  color: #e7602d;
}

@media (max-width:767px){

    #start .marketing {
        display: block;  
    }
    
    .page-section#start {
        border: none;   
    }
}
