body {
    background-color: white;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto';
}

hr {
    width: 20%;
    border-width: 2px;
}

.content {
    margin-top: 110px;   
}

.logo {
    background-image: url('../images/logo-white.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.top-sm-offset {
    padding-top: 1em;
}

.img-thumbnail {
    background-color: white;
}

.abs {
    position: absolute;
}

.page-section {
    position: relative;
    background-position: center center;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;    
}

.page-section .container {
    padding-bottom: 30px;
    padding-top: 30px;
}

.page-section .container.details {
    margin: auto;
}

.page-section.no-marketing {
    background-color: #aaa;
    margin-top: 30px;}

.details {
    background-color: white;
    color: initial;
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 500px;
-moz-box-shadow:    inset  0  8px 8px -8px #696868, 
                    inset  0 -8px 8px -8px #696868;
-webkit-box-shadow: inset  0  8px 8px -8px #696868, 
                    inset  0 -8px 8px -8px #696868;
 box-shadow:        inset  0  8px 8px -8px #696868, 
                    inset  0 -8px 8px -8px #696868;    
}

.marketing p {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 2.5em;
    font-family: 'Roboto';
}

.marketing-list {
    text-transform: uppercase;
}

.marketing-list li {
    background-color: transparent;
}

@media (max-height:768px){
    .page-section.marketing {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

@media (min-height:769px){
    .page-section.marketing {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

@media (aspect-ratio: 16/9), (aspect-ratio: 16/10)  {
    .page-section.marketing {
        background-size: 100% auto;
        background-position: center top;   
    }
}

@media (max-width:767px){

    .page-section {
        border-top: 1px solid #ccc;
        background-color: white;
    }
    
    .details {
        box-shadow: none;
        -ms-box-shadow: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
    }
}

.bg-odd .marketing {
    color: white !important;  
}

.bg-odd .marketing .container {
    background-color: rgba(0, 0, 0, 0.6);    
}

.bg-even .marketing {
    color: black !important;
}

.bg-even .marketing .container {
    background-color: rgba(255, 255, 255, 0.8); 
}

.marketing .container {
    min-height: 200px;   
    margin-top: 130px;
    margin-bottom: 130px;
    border-radius: 500px;
}

h1, h2, h3 {
    font-family: 'Roboto Slab';
}

h3 { 
    color: #c94e20; 
}

p {
    font-family: 'Roboto Condensed';   
}

footer {
    border-top: 1px solid #e5e5e5;
    color: #777;
    padding-top: 20px;
}

address.info {
    margin-bottom: 10px;   
}

.social {
    font-size: 2.5em;   
}

.social a {
    text-decoration: none;   
    transition: 0.4s;
    display: inline-block;
}

.social a:hover {
    transition: 0.4s;
    transform: rotate(360deg) scale(1.1);
}