body {
    background-color: #c94e20;
    -webkit-font-smoothing: antialiased;
}

.content {
    margin-top: 110px;   
}

.logo {
    background-image: url('../images/logo-white.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.top-sm-offset {
    padding-top: 1em;
}
.img-thumbnail {
    background-color: white;
}
.abs {
    position: absolute;
}

.page-section {
    position: relative;
    background-size: 100% auto;
    background-position: center top;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;    
}

.page-section .container {
    padding-bottom: 30px;
    padding-top: 30px;
}

.page-section .container.details {
    margin: auto;
}

.page-section.no-marketing {
    padding-top: 20px;   
}

.details {
    background-image: url('../images/fabric.png');
    color: initial;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    min-height: 500px;
}

.marketing p {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 3em;
}

.marketing-list {
    text-transform: uppercase;
}

.marketing-list li {
    background-color: transparent;
}

.bg-even .text-primary {
    color: #743C9F;
}

.bg-even .page-section .container h2 small {
    color: #743c9f;   
}

.bg-odd .page-section .container h2 small {
    color: #777;   
}

@media(max-height:768px){
    .page-section.marketing {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}
@media(min-height:769px){
    .page-section.marketing {
        padding-top: 200px;
        padding-bottom: 200px;
    }

}

.bg-odd .marketing {
    color: white !important;  
}

.bg-odd .marketing .container {
    background-color: rgba(0, 0, 0, 0.6);    
}

.bg-even .marketing {
    color: black !important;
}

.bg-even .marketing .container {
    background-color: rgba(255, 255, 255, 0.8); 
}

.marketing .container {
    min-height: 300px;   
    margin-top: 100px;
    margin-bottom: 100px;
}

.bg-odd {
    background-color: #c94e20;   
}

.bg-even {
    background-color: #743C9F;
}

h1, h2, h3 {
    text-transform: uppercase;
}