.menu .logo {
    width: 130px;
    height: 70px;
}

.menu a {
    font-family: 'Dosis' !important;
    font-weight: normal;
    font-size: large;
    text-transform: uppercase;
    cursor: pointer;
}

.menu .navbar-nav  {
    width: 75%;
    margin-top: 30px;
}

.menu .navbar-inverse .navbar-nav > .active > a, 
.menu .navbar-inverse .navbar-nav > .active > a:hover, 
.menu .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: transparent;
    border-bottom: 3px solid #c94e20;
}

.menu .menu-item a.active {
    background-color: transparent;
    border-bottom: 3px solid #c94e20;
}

.dropdown-menu > li > a:hover {
    color: white;
}

.menu {
    height: 110px;   
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
}