.menu {
  -webkit-box-shadow: 0px 2px 20px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 20px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 20px 0px rgba(50, 50, 50, 0.75);
}

.menu .logo {
    width: 130px;
    height: 70px;
}

.menu a {
    font-family: 'Dosis' !important;
    font-weight: 500;
    font-size: large;
    text-transform: uppercase;
    cursor: pointer;
}

.menu .navbar-nav  {
    width: 75%;
    margin-top: 30px;
}

.menu .navbar-inverse .navbar-nav > .active > a, 
.menu .navbar-inverse .navbar-nav > .active > a:hover, 
.menu .navbar-inverse .navbar-nav > .active > a:focus {
    border-bottom: 3px solid #666;
}

.menu .menu-item a.active {
    background-color: transparent;
    border-bottom: 3px solid #666;
}

.dropdown-menu > li > a:hover {
    color: white;
}

.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
}

.navbar-inverse .navbar-collapse {
    /*background-color: #635038;*/
}
