<div class="row">
  <div class="col-lg-offset-2 col-lg-8 col-md-12">
    <h3 class="text-primary" >Muzykoterapia <small>Zajęcia rozwoju osobistego</small>
    </h3>
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p class="text-justify">
        Muzyka od zawsze pomaga człowiekowi dobrze żyć. Dlatego my używamy jej, by wspierać innych. Zajęcia muzykoterapetyczne to program zajęć grupowych pomagających w formułowaniu wspólnoty, bądź umacniania grupy istniejącej. Razem podnosimy kompetencje psychiczne, wspieramy w trudnych sytuacjach życiowych i pomagamy w zachowaniu ogólnej kondycji.
        </p>
        <p class="text-justify">
        Podczas zajęć stosowana jest:
        </p>
        <ul>
          <li>muzykoterapia aktywna - śpiew, gra na instrumentach perkusyjnych, ruch przy muzyce, improwizacja</li>
          <li> muzykoterapia receptywna - słuchanie muzyki, relaksacja i wizualizacja</li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-6">
        <img class="img-thumbnail img-responsive rot-r pic" src="images/classes4.jpg" />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-push-6">
        <p class="text-justify">Prowadzimy grupy psychoedukacyjne, psychopofilaktyczne oraz grupy rozwoju osobistego. Na zajęciach trener wspiera rozwój komunikacji interpersonalnej. 
        </p>
        <p class="text-justify">
        Zajęcia prowadzone są w małych grupach do 10 osób. Zapraszamy do współpracy przedszkola i szkoły, ale także firmy i instytucje pragnące wzmocnić zespoły pracowników.
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 col-sm-pull-6">
        <img class="img-thumbnail img-responsive rot-l pic" src="images/classes5.jpg" />
      </div>
    </div>
  </div>
</div>
