<div class="container details">
    <div class="row">
        <div class="col-md-12 center-block text-center">
            <h2>
                <i class="glyphicon glyphicon-glass"></i>&nbsp; Imprezy okolicznościowe&nbsp;
                <small>Śluby, wesela, pogrzeby</small>
            </h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <p class="lead text-center">
                <strong class="text-primary">Firma John’s Music oferuje:</strong>

            </p>
            <ul class="list-group marketing-list">
                <li class="list-group-item">profesjonalną oprawę uroczystości okolicznościowych</li>
                <li class="list-group-item">doświadczoną kadrę posiadających wykształcenie muzyków</li>
                <li class="list-group-item">pomoc w doborze repertuaru</li>
                <li class="list-group-item">oprawę ślubów, przyjęć weselnych, urodzin, imienin, chrzcin i innych</li>
                <li class="list-group-item">najwyższy poziom usług</li>
                <li class="list-group-item">skład instrumentalny zespołu dobrany do Państwa potrzeb i upodobań</li>
                <li class="list-group-item">zespół wokalny - klasyczny, bądź rozrywkowy</li>
            </ul>
        </div>
    </div>
</div>
