<div class="container-fluid details">
    <div class="row">
        <div class="col-md-12 center-block text-center">
            <h2>
                <i class="glyphicon glyphicon-glass"></i>&nbsp; Imprezy okolicznościowe&nbsp;
                <br/>
                <small>Oprawa ślubów, wesel i urodzin</small>
            </h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <p class="lead text-justify">
                Śluby, wesela czy rocznice to <span class="text-primary">momenty wyjątkowe</span>. John’s Music wie, że <span class="text-primary">dobra muzyka</span> uszlachetnia i puentuje najważniejsze momenty życia. Dlatego oferujemy <span class="text-primary">kompleksową oprawę muzyczną</span> wraz z konferansjerką do <span class="text-primary">uroczystości weselnych, urodzin, rocznic</span> i innych momentów istotnych dla Państwa rodziny i przyjaciół. Ciepły soul i jazz podkreśli intymny charakter uroczystości, a ulubione piosenki pary młodej czy jubilata rozgrzeją zgromadzonych gości.
            </p>
            <p class="lead text-justify">
                Z przyjemnością <span class="text-primary">pomożemy w dobraniu indywidualnego repertuaru</span>. Doświadczenie w organizacji oraz możliwość poszerzenia usługi gwarantują <span class="text-primary">niezapomniane chwile</span> w gronie najbliższych. Nasze sztandarowe składy weselne to gitara plus saksofon oraz wokal, saksofon, kontrabas i pianino.</p>
        </div>
    </div>
</div>
