<div class="row">
    <div class="col-md-12">
        <h2>
            <i class="glyphicon glyphicon-music"></i>&nbsp;
            Imprezy okolicznościowe&nbsp;
            <small>Śluby, wesela, pogrzeby</small>
        </h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <blockquote class="blockquote-reverse" >
            <p class="lead"><em>Bez muzyki, która go ozdabia, czas jest tylko nudną produkcją terminów i dat, za które trzeba płacić rachunki. </em></p>
            <footer>
                <cite>Frank Zappa</cite>
            </footer>
        </blockquote>
    </div>
</div>