<div class="row">
    <div class="col-md-12">
        <h2>
            <i class="glyphicon glyphicon-music"></i>&nbsp; Imprezy okolicznościowe&nbsp;
            <small>Śluby, wesela, pogrzeby</small>
        </h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <blockquote class="blockquote-reverse">
            <p class="lead">
                <em>Bez muzyki, która go ozdabia, czas jest tylko nudną produkcją terminów i dat, za które trzeba płacić rachunki.</em>
            </p>
            <footer>
                <cite>Frank Zappa</cite>
            </footer>
        </blockquote>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <img src="images/impry_okolocznosciowe.png" class="img-thumbnail img-responsive" />
    </div>
    <div class="col-md-8">
        <br/>
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-7">
                <p class="lead">
                    Szukasz wyjątkowej muzyki, która podkreśli ważne wydarzenie w Twoim życiu?
                </p>
            </div>
            <div class="col-md-5">
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
            </div>
            <div class="col-md-7">
                <p class="lead text-right">
                    A może chcesz usłyszeć ulubioną piosenkę podczas przyjęcia urodzinowego?
                </p>
            </div>
        </div>
        <p class="lead text-center">
            <br/>Oferujemy znakomitą oprawę muzyczną, która doskonale podkreśli charakter ważnej dla Ciebie uroczystości.
            <br/>
            <br/>Nasi muzycy reprezentują najwyższy poziom i są przygotowani,
            <br/> aby spełnić każde twoje życzenie!
        </p>
    </div>

</div>
<br/>
<div class="row">
    <div class="col-md-6 col-md-push-6">
        <img src="images/slub_cywil.jpg" class="img-thumbnail img-responsive" />
    </div>
    <div class="col-md-6 col-md-pull-6">
        <br/>
        <p class="lead text-center">
            Firma John’s Music oferuje:
            <ul>
                <li>profesjonalną oprawę uroczystości okolicznościowych</li>
                <li>doświadczoną kadrę posiadających wykształcenie muzyków</li>
                <li>pomoc w doborze repertuaru</li>
                <li>oprawę ślubów, przyjęć weselnych, urodzin, imienin, chrzcin i innych</li>
                <li>najwyższy poziom usług</li>
                <li>skład instrumentalny zespołu dobrany do Państwa potrzeb i upodobań</li>
                <li>zespół wokalny - klasyczny, bądź rozrywkowy</li>
            </ul>
        </p>
        <p class="lead">

        </p>
    </div>



</div>