<div class="gallery center-block">
    <div class="row">
        <div class="col-md-12">
            <carousel interval="3000">
                <slide ng-repeat="slide in pictures" active="slide.active">
                    <div class="gallery-picture" style="background-image: url('{{ slide.image }}');">
                        <div class="carousel-caption">
                            <h4 style="color: white;">{{ slide.caption }}</h4>
                        </div>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
</div>