<div class="container-fluid details">
    <div class="row">
        <div class="col-md-12 center-block text-center">
            <h2>
                <i class="glyphicon glyphicon-book"></i>&nbsp; Zajęcia muzyczne&nbsp;
                <br/>
                <small>edukacja i animacja</small>
            </h2>
            <hr>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-offset-2 col-lg-8 col-md-12">
        <p class="lead text-justify">
            Firma artystyczno - edukacyjna John’s Music zajmuje się także edukacją muzyczną dzieci, młodzieży i dorosłych. Nasza kadra składa się z osób, które ukończyły studia na akademiach muzycznych, mają bogate doświadczenie sceniczne oraz kwalifikacje pedagogiczne, dzięki czemu nie muszą się Państwo obawiać o dobro swoich pociech. Dostosowujemy się do poziomu i potrzeb uczniów, cechuje nas wysoka elastyczność. Zajęcia, w których specjalizujemy się to: rytmika, muzykoterapia, emisja głosu, nauka gry na saksofonie. Organizujemy również koncerty z odpowiednim repertuarem dla różnych grup wiekowych.
        </p>
      </div>
    </div>
    <div ng-include="'views/education/rhytmics.html'" ></div>
    <div ng-include="'views/education/musictherapy.html'" ></div>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-12">
            <h3 class="text-primary" >Emisja głosu
                <small>Solo lub w zespole (prowadzenie zespołów wokalnych, chórów)</small>
            </h3>
            <div class="row">
              <div class="col-md-6">
                  <p class="text-justify">Nauka posługiwania się aparatem głosowym, poprawnego oddychania, interpretacji piosenki, Prowadzimy zajęcia indywidualne jak i grupowe : zespoły wokalne, chóry.</p>
              </div>
              <div class="col-md-6">
                <img class="img-thumbnail img-responsive pic" src="images/choir.jpg" />
              </div>
          </div>
        </div>
    </div>
</div>
