<div class="container-fluid details">
    <div class="row">
        <div class="col-md-12 center-block text-center">
            <h2>
                <i class="glyphicon glyphicon-book"></i>&nbsp; Zajęcia muzyczne&nbsp;
                <br/>
                <small>Stukoty i klekoty</small>
            </h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <p class="lead text-justify">
                Firma artystyczno - edukacyjna John’s Music zajmuje się także edukacją muzyczną dzieci, młodzieży i dorosłych. Nasza kadra składa się z osób, które ukończyły studia na akademiach muzycznych, mają bogate doświadczenie sceniczne oraz kwalifikacje pedagogiczne, dzięki czemu nie muszą się Państwo obawiać o dobro swoich pociech. Dostosowujemy się do poziomu i potrzeb uczniów, cechuje nas wysoka elastyczność. Zajęcia, w których specjalizujemy się to: rytmika, muzykoterapia, emisja głosu, nauka gry na saksofonie. Organizujemy również koncerty z odpowiednim repertuarem dla różnych grup wiekowych.
            </p>
            <h3 class="text-primary">Rytmika</h3>
            <p class="text-justify">
                Rytmika to zajęcia muzyczno - ruchowe dla dzieci mające służyć rozwojowi człowieka. Celem ich jest nie tylko troska o rozwój muzyczny i fizyczny, ale także uczynienie człowieka aktywnym, twórczym, myślącym, wrażliwym, otwartym. W systemie Dalcroze’a - twórcy rytmiki - angażowane są w równym stopniu ciało, intelekt, i psychika.
            </p>
            <p>
                Korzystamy również z metod:
            </p>
            <ul>
                <li>C. Orffa - dzieci poznają instrumenty perkusyjne, potrafią na nich zagrać</li>
                <li>B. Strauss- aktywne słuchanie muzyki</li>
                <li>R. Labana - ćwiczenie swobodnego ruchu</li>
                <li>nauka piosenek przy akompaniamencie pianina</li>
                <li>tańce ludowe</li>
                <li>tańce integracyjne, z chustami, wstążkami</li>
                <li>tańce nowoczesne</li>
                <li>elementy muzykoterapii</li>
            </ul>

            <p class="text-justify">Dokładamy wszelkich starań, aby dzieci uczyły się poprzez zabawę, przez co przyswajają wiedzę z niezwykłą łatwością.</p>
            <p class="text-justify">
                Zajęcia skierowane są przede wszystkim do przedszkoli i szkół podstawowych, ale także do żłobków, czy domów kultury. W razie braku potrzebnego sprzętu posiadamy własne instrumenty klawiszowe oraz instrumentarium Orffa.
            </p>

            <h3 class="text-primary" >Muzykoterapia <small>Zajęcia rozwoju osobistego</small>
            </h3>
            <p class="text-justify">
                Muzykoterapia to zajęcia grupowe przy muzyce. Stosowane są w celu usprawnienia funkcjonowania grupy już istniejącej, bądź dopiero utworzonej, jak również mają funkcję wspomagającą w rozwoju osobistym, integracji, czy trudnych sytuacjach życiowych.
            </p>
            <p class="text-justify">
                Podczas zajęć stosowana jest: - muzykoterapia aktywna śpiew, gra na instrumentach perkusyjnych, ruch przy muzyce, improwizacja - muzykoterapia receptywna słuchanie muzyki, relaksacja i wizualizacja.
            </p>

            <p class="text-justify">Prowadzimy grupy psychoedukacyjne, psychopofilaktyczne oraz grupy rozwoju osobistego. Na zajęciach trenuje się również komunikację interpersonalną.</p>

            <p class="text-justify">
                Zajęcia prowadzone są w małych grupach do 10 osób. Oferta skierowana jest do przedszkoli i szkół podstawowych, gimnazjów, liceów, a także do firm i instytucji. Zajęcia prowadzą absolwentki kierunki Animacja kultury z elementami arteterapii Akademii Muzycznej w Gdańsku : Joanna Lachowska i Dorota Babińska.</p>


            <h3 class="text-primary" >Emisja głosu
                <small>Solo lub w zespole (prowadzenie zespołów wokalnych, chórów)</small>
            </h3>

            <p class="text-justify">Nauka posługiwania się aparatem głosowym, poprawnego oddychania, interpretacji piosenki, Prowadzimy zajęcia indywidualne jak i grupowe : zespoły wokalne, chóry.</p>
        </div>
    </div>
</div>
