<div class="row">
    <div class="col-md-12">
        <h2>
            <i class="glyphicon glyphicon-book"></i>&nbsp;
            Zajęcia muzyczne
            <small>Rytmika, śpiew i czarna magia</small>
        </h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <blockquote class="blockquote-reverse" >
            <p class="lead"><em>Trzeba uczyć się grać nie od tych, którzy umieją robić instrumenty, ale od tych, którzy umieją na nich grać.</em></p>
            <footer>
                <cite>Galileusz</cite>
            </footer>
        </blockquote>
    </div>
</div>
