

<div class="" ng-show="showCarousel()" ng-controller="CarouselCtrl">


    <div class="carousel-logo-container hidden-sm" style="position: absolute; left: 50%; width: 50%;">
        <div style="position: relative; left: -50%;">
            <div class='carousel-logo-container'>
                <div class="logo carousel-logo"></div>
            </div>
        </div>
    </div>


    <carousel interval="interval">
        <slide ng-repeat="slide in slides" active="slide.active">
            <div class="carousel-img {{ slide.image }}">
                <div class="carousel-caption">

                    <h1>{{ slide.title }}</h1>
                    <p>{{ slide.text }}</p>
                </div>
            </div>

        </slide>
    </carousel>

</div>
