<article class="container-fluid details">
    <div class="row">
        <div class="col-md-12 center-block text-center">
            <h2>
        <span class="icon-trumpet"></span>
        John's Music&nbsp;
        <br/>
        <small>Agencja artystyczno-edukacyjna</small>
      </h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <p class="text-justify">
                <em>John’s Music</em>&nbsp;to agencja artystyczna stworzona z myślą o świadczeniu&nbsp;
                <em>najwyższej jakości usług muzycznych</em>. Zajmujemy się&nbsp;
                <em>oprawą muzyczną</em>&nbsp;firmowych eventów, wernisaży, ślubów i innych ważnych wydarzeń. Świadczymy także&nbsp;
                <em>usługi z zakresu edukacji muzycznej </em>&nbsp;m.in. lekcje pianina, gitary, saksofonu, zajęcia ogólnomuzyczne. Zapewniamy&nbsp;
                <em>indywidualny kontakt</em>,&nbsp;
                <em>profesjonalizm</em>&nbsp;i&nbsp;
                <em>dopasowanie oferty do waszych potrzeb</em>. Gwarancją jakości jest
                <em>&nbsp;ogromne doświadczenie</em>&nbsp;naszych muzyków, a także ich wykształcenie.
            </p>
            <blockquote>
                <p class="text-justify">
                    "John’s Music to znakomita agencja na eventy. U mnie sprawdzili się świetnie, byli profesjonalni, punktualni i zadbali o wspaniałą atmosferę. Posiadają świetny szeroki repertuar, dla każdego coś znanego. Muzycy pokazali swój wysoki poziom i kunszt. Gorąco polecam!"
                </p>
                <footer class="text-right">
                    <em>Sebastian Pawelec</em>, dyrektor firmy Slide Kamera
                </footer>
            </blockquote>
            <blockquote>
                <p class="text-justify">
                    "Pani Joanna Lachowska (John's Music) przygotowała i przeprowadziła zajęcia muzyczne dla dzieci podczas Festiwalu GLOBALTICA 2013 r. Zajęcia cieszyły się dużym zainteresowaniem, były przygotowane bardzo profesjonalnie, poszczególne zabawy muzyczne dobrane były do wieku i możliwości uczestniczących dzieci. Dziękujemy za zaangażowanie, profesjonalizm a przede wszystkim za ogromną radość dzieci jaką przyniosła jej praca."
                </p>
                <footer class="text-right">
                    <em>Fundacja Kultury Liberty</em>
                </footer>
            </blockquote>
            <p class="text-center">
                Zapraszamy do zapoznania się z naszą ofertą.
            </p>
        </div>
    </div>
</article>
