<div class="container-fluid details">
    <div class="row">
        <div class="col-md-12 center-block text-center">
            <h2>
                <span class="icon-trumpet"></span>
                 John's Music&nbsp;
                <br/>
                <small>Agencja artystów-muzyków</small>
            </h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <p class="lead text-justify">
                <span class="text-primary">John’s Music</span> to agencja muzyczna pod wodzą jazzmana <span class="text-primary">Marcina Janka</span> i śpiewaczki <span class="text-primary">Joanny Lachowskiej</span>. Grupa muzyków wywodzi się z kilku składów: od bandu pływającego na rejsach dalekomorskich, przez współpracowników Opery Bałtyckiej po pedagogów muzycznych.
            </p>
            <p class="lead text-justify">
                Clou oferty stanowi <span class="text-primary">indywidualny kontakt i elastyczność</span>. Dysponujemy repertuarem odpowiednim tak dla <span class="text-primary">imprez biznesowych</span> czy promocyjnych jak <span class="text-primary">uroczystych spotkań rodzinnych</span>. Doświadczenie muzyków jest gwarantem <span class="text-primary">najwyższej jakości</span>. Zapraszamy do sprawdzenia naszej oferty.
            </p>
            <p class="lead text-center" >
                Zapraszamy do sprawdzenia naszej oferty.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            
        </div>
        <div class="col-md-2">
            
        </div>
        <div class="col-md-2">
            
        </div>        
    </div>
</div>








