<div class="container-fluid details">
  <div class="row">
    <div class="col-md-12 center-block text-center">
      <h2>
        <span class="icon-trumpet"></span>
        John's Music&nbsp;
        <br/>
        <small>Agencja artystyczno-edukacyjna</small>
      </h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <p class="lead text-justify">
      <highlight>John’s Music</highlight>&nbsp;to agencja artystyczna stworzona z myślą o świadczeniu&nbsp;<highlight>najwyższej jakości usług muzycznych</highlight>. Zajmujemy się&nbsp;<highlight>oprawą muzyczną</highlight>&nbsp;firmowych eventów, wernisaży, ślubów i innych ważnych wydarzeń. Świadczymy także&nbsp;<highlight>usługi z zakresu edukacji muzycznej </highlight>&nbsp;m.in. lekcje pianina, gitary, saksofonu, zajęcia ogólnomuzyczne. Zapewniamy&nbsp;<highlight>indywidualny kontakt</highlight>,&nbsp;<highlight>profesjonalizm</highlight>&nbsp;i&nbsp;<highlight>dopasowanie oferty do waszych potrzeb</highlight>. Gwarancją jakości jest <highlight>&nbsp;ogromne doświadczenie</highlight>&nbsp;naszych muzyków, a także ich wykształcenie.
      </p>
      <blockquote>
        <p class="text-justify">
        "John’s Music to znakomita agencja na eventy. U mnie sprawdzili się świetnie, byli profesjonalni, punktualni i zadbali o wspaniałą atmosferę. Posiadają świetny szeroki repertuar, dla każdego coś znanego. Muzycy pokazali swój wysoki poziom i kunszt. Gorąco polecam!"
        </p>
        <footer class="text-right">
          <highlight>Sebastian Pawelec</highlight>, dyrektor firmy Slide Kamera
        </footer>
      </blockquote>
      <p class="lead text-center" >
      Zapraszamy do zapoznania się z naszą ofertą.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>        
  </div>
</div>








