<div class="page-section home-bg home-content marketing">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="margin-top: -15%;">
                <div class="logo center-block" style="width: 35%; height: 320px;">
                    <p class="home-lead text-center">
                        Muzyka, na jaką zasługujesz.
                    </p>
                </div>
                <br/>
                <div class="center-block text-center">
                    <br/><br/>
                    <a href="#concert" class="btn btn-lg btn-primary">
                        Dowiedz się więcej &nbsp; &nbsp;
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>
                </div>                
            </div>
        </div>
    </div>
</div>
