<div class="container-fluid details">
    <div class="row">
        <div class="col-md-12 center-block text-center">
            <h2>
                <i class="glyphicon glyphicon-music"></i>&nbsp; Koncerty&nbsp;<br/>
                <small>autorskie występy</small>
            </h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <p class="lead text-justify">
<span class="text-primary">Potrzeby i indywidualne wymagania</span> naszych klientów są najważniejsze. Jest jednak sytuacja, w której radość muzyków wynika nie tylko satysfakcji słuchaczy. To możliwość koncertowego zaprezentowania autorskiego materiału. 
Oferujemy <span class="text-primary">koncert z unikalnym repertuarem</span>. Nasze doborowe trio jazzowe w składzie <span class="text-primary">Marcin Janek</span> (saksofon/klarnet), <span class="text-primary">Jan Kowalski</span> (cymbały), Jan Kowalski (trójkąt) z przyjemnością zaprezentuje się tak <span class="text-primary">podczas festiwalu</span> na wolnym powietrzu, <span class="text-primary">jak intymnych zaduszkach jazzowych w lokalu</span>. Możliwe poszerzenie składu oraz przygotowanie <span class="text-primary">specjalnego programu koncertowego</span>.
            </p>
        </div>
    </div>
</div>
