<div class="container-fluid details">
  <div class="row">
    <div class="col-md-12 center-block text-center">
      <h2>
        <i class="glyphicon glyphicon-music"></i>&nbsp; Koncerty&nbsp;<br/>
        <small>Autorskie występy</small>
      </h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-md-12">
      <div class="row">
        <div class="col-xs-12 col-sm-6" >
          <p class="lead text-justify">
          <highlight>Potrzeby i indywidualne wymagania</highlight>&nbsp;naszych klientów są najważniejsze. Jest jednak sytuacja, w której radość muzyków wynika nie tylko satysfakcji słuchaczy. To możliwość koncertowego zaprezentowania&nbsp;<highlight>autorskiego materiału</highlight>. 
          </p>
        </div>
        <div class="col-xs-12 col-sm-6" >
          <img class="img-responsive img-thumbnail pic rot-r" src="images/concert2.jpg" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-push-6" >
          <p class="lead text-justify">
          Oferujemy&nbsp;<highlight>koncert z unikalnym repertuarem</highlight>. Nasz doborowy kwartet jazzowy w składzie Marcin Janek (saksofon/klarnet), Arkadiusz Krawiel (fortepian), Michał Bąk (kontrabas), Jacek Prościński (perkusja) z przyjemnością zaprezentuje się tak&nbsp;<highlight>podczas festiwalu</highlight>&nbsp;na wolnym powietrzu, jak&nbsp;<highlight>intymnych zaduszkach jazzowych</highlight>&nbsp;w lokalu. Możliwe&nbsp;<highlight>poszerzenie składu</highlight>&nbsp;oraz przygotowanie&nbsp;<highlight>specjalnego programu koncertowego</highlight>. Zespół prezentuje autorskie kompozycje oraz dobór klasyków światowego jazzu.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6" >
          <img class="img-responsive img-thumbnail pic rot-l" src="images/concert1.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>
