<div class="container-fluid details">
  <div class="row">
    <div class="col-md-12 center-block text-center">
      <h2>
        <i class="glyphicon glyphicon-music"></i>&nbsp; Koncerty&nbsp;<br/>
        <small>Autorskie występy</small>
      </h2>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-md-12">
      <div class="row">
        <div class="col-xs-12 col-sm-6" >
          <p class="text-justify">
          Jeśli zależy Ci na nadaniu Twojemu wydarzeniu wyższej, uroczystej rangi proponujemy zamówić u nas&nbsp;<em>występ koncertowy</em>. Muzycy zaprezentują to, co mają najlepszego, czyli szczyt swoich indywidualnych umiejętności i talentu.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6" >
          <img class="img-responsive img-thumbnail pic rot-r" src="images/concert2.jpg" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-push-6" >
          <p class="text-justify">
          Nasze zespoły oferują repertuar z rejonów: muzyki popularnej (tzw. covery) , nastrojowego tanga, muzyki klasycznej, muzyki filmowej, nowojorskiego jazzu, łagodnego tanecznego swingu, bossa novy czy muzyki latynowskiej.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6" >
          <img class="img-responsive img-thumbnail pic rot-l" src="images/concert1.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>
