<div class="row">
    <div class="col-md-12">
        <h2>
            <i class="glyphicon glyphicon-music"></i>&nbsp;
            Koncerty&nbsp;
            <small>Dla ciebie, dla rodziny</small>
        </h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <blockquote class="blockquote-reverse" >
            <p class="lead"><em>Nasza muzyka jest zdolna wywołać chwiejność emocjonalną, zachowanie patologiczne, a nawet bunt i rewolucję.</em></p>
            <footer>
                <cite title="Source Title">The Beatles</cite>
            </footer>
        </blockquote>
    </div>
</div>