<div class="container-fluid details">
    <div class="row">
        <div class="col-md-12 center-block text-center">
            <h2 class="text-center">
                <i class="icon-tie-business"></i> Imprezy firmowe &nbsp;
                <br/>
                <small>Oprawa muzyczna eventów, bankietów, wernisaży</small>
            </h2>
            <hr>
        </div>
    </div>    
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <p class="lead text-justify">
            Wizerunek jest składową wielu elementów. Przygotowując <span class="text-primary">bankiet, konferencję czy galę plenerową</span> trzeba zapewnić <span class="text-primary">wysoki poziom w każdym aspekcie</span>. Nasi muzycy są przygotowani, by zagospodarować artystyczną część programu. Oferujemy <span class="text-primary">szeroki wachlarz stylistyczny</span>: jazz, muzyka kameralna i covery znanych piosenek. Świetnie odnajdujemy się w <span class="text-primary">rozszerzonym składzie</span> - swingujący septet bez wątpienia będzie wisienką na torcie Państwa eventu.
            </p>    
            <p class="lead text-justify">
            Nasz zespół może przygotować <span class="text-primary">indywidualny program</span> dostosowany do specyfiki imprezy oraz jej charakteru i skali. <span class="text-primary">Doradzamy</span> jaki repertuar jest odpowiedni do wydarzenia.
            </p>
        </div>
    </div>
</div>
