<div class="container details">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center" >
                <i class="glyphicon glyphicon-music"></i>&nbsp; Imprezy firmowe &nbsp;
                <br class="visible-xs" />
                <small>Oprawa muzyczna eventów, bankietów, wernisaży</small>
            </h2>
            <hr>
            <p class="lead" >
                Dla naszej agencji pracują <span class="text-primary">znakomici wokaliści i instrumentaliści</span>.
                <br/>Sam możesz dobrać skład instrumentalny zespołu:
            </p>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-group marketing-list">
                        <li class="list-group-item">fortepian</li>
                        <li class="list-group-item">instrumenty klawiszowe</li>
                        <li class="list-group-item">gitara</li>
                        <li class="list-group-item">saksofon</li>
                        <li class="list-group-item">trąbka</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="list-group marketing-list">
                        <li class="list-group-item">trąbka</li>
                        <li class="list-group-item">puzon</li>
                        <li class="list-group-item">kontrabas</li>
                        <li class="list-group-item">gitara basowa</li>
                        <li class="list-group-item">perkusja</li>
                </div>
            </div>
        </div>
    </div>
</div>
