<div class="container-fluid details">
  <div class="row">
    <div class="col-md-12 center-block text-center">
      <h2 class="text-center">
        <i class="icon-tie-business"></i> Imprezy firmowe &nbsp;
        <br/>
        <small>Oprawa muzyczna eventów, bankietów, wernisaży</small>
      </h2>
      <hr>
    </div>
  </div>    
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-md-12">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <p class="lead text-justify">
          Wizerunek jest składową wielu elementów. Przygotowując&nbsp;<highlight>ankiet, konferencję czy galę plenerową</highlight>&nbsp;trzeba zapewnić&nbsp;<highlight>wysoki poziom w każdym aspekcie</highlight>. Nasi muzycy są przygotowani, by zagospodarować artystyczną część programu. Oferujemy&nbsp;<highlight>szeroki wachlarz stylistyczny</highlight>: jazz, muzyka kameralna i covery znanych piosenek. Świetnie odnajdujemy się w&nbsp;<highlight>rozszerzonym składzie</highlight>&nbsp;- swingujący septet bez wątpienia będzie wisienką na torcie Państwa eventu.
          </p>    
        </div>
        <div class="col-xs-12 col-sm-6">
          <img class="img-thumbnail img-responsive pic rot-r" src="images/bus1.jpg" />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-push-6">
          <p class="lead text-justify">
          Nasz zespół może przygotować&nbsp;<highlight>indywidualny program</highlight>&nbsp;dostosowany do specyfiki imprezy oraz jej charakteru i skali.&nbsp;<highlight>Doradzamy</highlight>&nbsp;jaki repertuar jest odpowiedni do wydarzenia.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6">
          <img class="img-thumbnail img-responsive pic rot-l" src="images/bus2.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>
