<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p class="lead text-center marketing-text">
                Potrzebujesz sekstetu
                <span class="text-primary">jazzowego</span>?
                <br/>Kwartetu
                <span class="text-primary">smyczkowego</span>?
                <br/>Może cover-bandu
                <br/>
                <span class="text-primary">pop-rockowego</span>?
            </p>
        </div>

    </div>
</div>
