<div class="row">
    <div class="col-md-12">
        <h2>
            <i class="glyphicon glyphicon-music"></i>&nbsp; Imprezy firmowe &nbsp;
            <small>Oprawa muzyczna eventów, bankietów, wernisaży</small>
        </h2>
    </div>
</div>
<br/>
<div class="row">

    <div class="col-md-6">
        <p class="lead text-right">
            <br/>
            <br/>Zagramy koncerty, które dostarczą wyjątkowych przeżyć Tobie i Twoim znajomym.
            <br/>
            <br/>Szeroki repertuar muzyki popowej, jazzowej, rockowej, klasycznej.
            <br/>
            <br/>
            <br/>Trio, kwartet, kwintet, sekstet jazzowy, kwartet smyczkowy, a nawet cover-band pop-rockowy!
        </p>
    </div>

    <div class="col-md-6">
        <img src="../../../images/impr-firmowa1.jpg" class="img-thumbnail" />
    </div>


</div>
<br/>
<div class="row">
    <div class="col-md-6">
        <img src="../../../images/impr-firmowa2.jpg" class="img-thumbnail" />
    </div>
    <div class="col-md-6">
        <br/>
        <p class="lead">
            Skład instrumentalny dobieramy wedle życzenia.
            <br/>
            <br/>Dla naszej agencji pracują znakomici wokaliści i instrumentaliści. Możesz sam dobrać skład instrumentalny zespołu:
            <ul>
                <li>fortepian</li>
                <li>instrumenty klawiszowe</li>
                <li>gitara</li>
                <li>saksofon</li>
                <li>trąbka</li>
                <li>puzon</li>
                <li>kontrabas</li>
                <li>gitara basowa</li>
                <li>perkusja</li>
            </ul>
        </p>
        <p class="lead">

        </p>
    </div>

</div>