<img src="images/asia.jpg" class="img-circle img-responsive portrait center-block" />

<h3 class="text-center">Joanna Lachowska
    <br/>
    <small>Dział edukacji</small>
</h3>
<p class="text-justify">
<highlight>Wokalistka, dyrygentka, pedagog</highlight>. Absolwentka Akademi Muzycznej im. Stanisława Moniuszki w Gdańsku na kierunku edukacja artystyczna w zakresie sztuki muzycznej, specjalizująca się w animacji kultury, arteterapii oraz dyrygenturze chóralnej. Studiowała również na Akademii Pomorskiej w Słupsku oraz Uniwersytecie Gdańskim.
</p>

<p class="text-justify">
<highlight>Pracą edukacyjną</highlight>&nbsp;zajmuje się od kilku lat. Przygotowuje zajęcia dla wielu pomorskich przedszkoli i szkół jako nauczycielka rytmiki i muzyki.
</p>

<p class="text-justify">
<highlight>Udzielała się również jako pedagog</highlight>, prowadząc zajęcia muzyczne dla osób z autyzmem, w Domu Opieki Społecznej, Pomorskim Centrum Terapii Rozwojowej czy przygotowując wokalnie młodzież ze scholi.
</p>

<p class="text-justify">
<highlight>Artystycznie</highlight>&nbsp;spełnia się współpracując z wieloma zespołami wokalnymi, chórami i drygentami jako chórzystka podczas koncertów i spektakli. Brała również udział w pracach kilkunastu zespołów muzycznych, nagrywając wiele płyt, między innymi z zespołem Art’n’Voices, czy Goldberg Vocal Ensemble, z którymi zdobyła również wiele nagród na konkursach.
</p>

<p class="text-justify">
Cały czas kształci się i koncertuje.
</p>
