<img src="images/marcin.jpg" class="img-circle img-responsive portrait center-block" />
<h3 class="text-center">Marcin Janek
  <br/>
  <small>Dział artystyczny</small>
</h3>
<p class="text-justify">
<highlight>Saksofonista i klarnecista</highlight>. Muzyk jazzowy. Absolwent, Akademii Muzycznej w Gdańsku na kierunku jazz i muzyka estradowa w klasie saksofonu Macieja Sikały, absolwent Szkoły Muzycznej I i II st. w Gdańsku Wrzeszczu w klasie klarnetu, absolwent Uniwersytetu Gdańskiego na kierunku historia. Instruktor saksofonu w szkole muzycznej Musicollective.
</p>

<p class="text-justify">
<highlight>Zwycięzca</highlight>&nbsp;Nagrody Głównej na Jazz & School festiwal 2013 w kategorii: solista - akademia muzyczna. Z Big Bandami Jan Konop Big Band i Big Band Akademii Muzycznej w Gdańsku laureat licznych nagród na międzynarodowych i ogólnopolskich konkursach big bandów.
</p>

<p class="text-justify">
<highlight>Współpracował z artystami</highlight>&nbsp;takimi jak:
</p>
<ul class="list-unstyled row">
  <li class="col-xs-6" >Norm Lewis (USA)</li>
  <li class="col-xs-6">Judy Carmichael (USA)</li>
  <li class="col-xs-6">Wojciech Staroniewicz (PL)</li>
  <li class="col-xs-6">Leszek Możdżer (PL)</li>
  <li class="col-xs-6">Kamil Bednarek (PL)</li>
  <li class="col-xs-6">Lorraine Brown (UK)</li>
  <li class="col-xs-6">Fra Fra Sound (NL)</li>
  <li class="col-xs-6">Filip Wojciechowski (PL)</li>
  <li class="col-xs-6">Leszek Kułakowski (PL)</li>
  <li class="col-xs-6">Nicola Laud (UK)</li>
  <li class="col-xs-6">Ewa Uryga (PL)</li>
  <li class="col-xs-6">Ewa Bem (PL)</li>
  <li class="col-xs-6">Grażyna Łobaszewska (PL)</li>
  <li class="col-xs-6">Mark Newsome (UK)</li>
  <li class="col-xs-6">Riverboat Ramblers (PL)</li>
  <li class="col-xs-6">Behemoth (PL)</li>
  <li class="col-xs-6">DJ Tuse (PL)</li>
  <li class="col-xs-6">Vadim Brodski (PL)</li>
</ul>

<p class="text-justify">
<highlight>Występował na wielu festiwalach</highlight>, a między innymi:
</p>
<ul>
  <li><highlight>Hevelius, Mon Star</highlight>&nbsp;z A-freak-an Project Wojciecha Staroniewicza (feat. Leszek Możdżer) w Brukselii</li>
  <li><highlight>Gdańskie noce jazzowe</highlight>&nbsp;z Uhuru Trio i Big Bandem Jana Konopa</li>
  <li><highlight>Komeda Jazz Festiwal</highlight>&nbsp;z Big Bandem Leszka Kułakowskiego</li>
  <li>z własnym kwintetem jazzowym jako Marcin Janek Quintet na&nbsp;<highlight>Festiwalu Jazz Jantar</highlight>.</li>
  <li><highlight>RCK Pro Jazz</highlight>&nbsp;w Kołobrzegu z własnym zespołem Seaside Jazz Quartet</li>
  <li><highlight>Sopot Molo Jazz Festiwal</highlight>&nbsp;z Jan Konop Big Band</li>
</ul>

<p class="text-justify">
<highlight>Koncertował</highlight>&nbsp;po Europie, Afryce, Ameryce Północnej i Południowej grając w zespole&nbsp;<highlight>Quartesencja</highlight>&nbsp;dla amerykańskiej kompanii Silver Sea oraz z&nbsp;<highlight>Waldi Solga Band</highlight>&nbsp;dla kompanii Oceana (show bands).
</p>

<p class="text-justify">Obecnie współpracuje z zespołami takimi jak:
<ul>
  <li>Seaside Jazz Quartet (jazz)</li>
  <li>A‑freak‑an Project Wojciecha Staroniewicza (jazz)</li>
  <li>Jan Konop Big Band</li>
  <li>Big Band Akademii Muzycznej w Gdańsku prof. Leszka Kułakowskiego</li>
  <li>Tangueros Balticos</li>
  <li>Riverboat Ramblers (jazz tradycyjny)</li>
  <li>Kamil Bednarek (pop, reggae)</li>
</ul>
</p>

