<div id="magicsound" class="row">
  <div class="col-md-12 col-lg-offset-2 col-lg-8">
    <h3>Magic Sound
      <small>Nietuzinkowy cover-band</small>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-lg-offset-2 col-lg-4 media-description">
      <p class="text-justify">Cover-band i już. asdg sadg asd gsdg asdgsadg sadg </p>
      <iframe class="ytframe" src="//www.youtube.com/embed/mFqUwV_9OqY" frameborder="0"></iframe>
      <iframe class="ytframe" src="//www.youtube.com/embed/Lx0517JCnqY" frameborder="0"></iframe>
  </div>
  <div class="col-md-6 col-lg-4">
    <img class="img-thumbnail img-responsive" src="images/event2.jpg" />
    <br/>
  </div>
</div>
