<div id="magicsound" class="row">
  <div class="col-md-12 col-lg-offset-2 col-lg-8">
    <h3>Magic Sound
      <small>Nietuzinkowy cover-band</small>
    </h3>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-lg-offset-2 col-lg-4 media-description">
      <p class="text-justify">
      Ekskluzywny zespół na wszystkie najważniejsze uroczystości. Wokal niezwykłej blondynki, porywający dźwięk złotego saksofonu, czy nastrojowe nuty akordeonu to tylko niektóre z ich atutów. Rozumieją się bez słów. Ich muzyka każdego wyrwie na parkiet i zachwyci ucho najbardziej wymagającego słuchacza.
      </p>
      <p>
      <highlight>Grzegorz Kusio</highlight> - instr. klawiszowe, akordeon, wokal<br/>
      <highlight>Sabina Nycek</highlight> - wokal<br/>
      <highlight>Marek Górski</highlight> - gitara, wokal<br/>
      <highlight>Marcin Janek</highlight> - saksofon<br/>
      </p>
  </div>
  <div class="col-md-6 col-lg-4">
    <img class="img-thumbnail img-responsive" src="images/event2.jpg" />
    <br/>
      <iframe class="ytframe" src="//www.youtube.com/embed/mFqUwV_9OqY" frameborder="0"></iframe>
      <iframe class="ytframe" src="//www.youtube.com/embed/Lx0517JCnqY" frameborder="0"></iframe>
  </div>
</div>
