<div class="row">
    <div class="col-md-12 col-lg-offset-2 col-lg-8">
        <h3>String Art Ladies
            <small></small>
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-offset-2 col-md-6 col-lg-4 media-description">
      <p class="text-justify">
      String Art Ladies to cztery młode, piękne, utalentowane kobiety, absolwentki Akademii Muzycznej. Pomysłowo przekształcają najpopularniejsze utwory muzyki rozrywkowej z pięknem i intensywnością klasycznego instrumentarium smyczkowego. Nazwa zespołu pochodzi od sztuki String Art, która ukazuje różnorodne połączenia kolorystyczne nici. Podobnie jak kolorystyka String Art, repertuar kwartetu jest bardzo zróżnicowany. Poza standardami klasycznymi dziewczyny grają przede wszystkim muzykę rozrywkową. Na ich koncertach usłyszeć można utwory w stylu irlandzkim, gruzińskim, country, a także POP, ROCK, R&B. Koncerty kwartetu wykonywane są z towarzyszeniem znakomitego perkusisty Łukasza Łapińskiego.
      </p>
      <p>
      <highlight>Dorota Roszkowska</highlight><br/>
      <highlight>Kasia Libront</highlight><br/>
      <highlight>Karolina Majka Stokowska</highlight><br/>
      <highlight>Karolina Kilian</highlight><br/>
      </p>
    </div>
    <div class="col-md-6 col-lg-4">
        <gallery class="stringArtLadies-gallery" pictures="stringArtLadies" interval="3500"></gallery>
    </div>
</div>
