<div class="page-section marketing hidden-xs media-bg" >
    &nbsp;
</div>

<div id="media" class="page-section">
    <div class="container-fluid details">
        <div class="row">
            <div class="col-md-12 center-block text-center">
                <h2>
                    <i class="glyphicon glyphicon-film"></i>&nbsp; Media&nbsp;
                    <br/>
                    <small>Filmiki, muzyczki..</small>
                </h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <p class="lead text-justify">
                    <span class="text-primary">Morbi quam lectus</span>, volutpat a libero eu, luctus egestas felis. Maecenas rhoncus tortor sed consequat pellentesque. Aenean neque tellus, mollis id mauris at, venenatis tempus ligula. Morbi id arcu nibh. Vivamus quis velit rhoncus, imperdiet sapien elementum, dapibus mauris. Aenean mattis tellus massa, pharetra fermentum lorem molestie feugiat.
                </p>
            </div>
        </div>        

        <div ng-include="'views/media/popduo.html'"></div>
        
        <div ng-include="'views/media/standardstrio.html'"></div>
        
    </div>
</div>


