<div class="page-section marketing hidden-xs media-bg" >
  &nbsp;
</div>

<div id="media" class="page-section">
  <div class="container-fluid details">
    <div class="row">
      <div class="col-md-12 center-block text-center">
        <section-header text="Media" sub="Posłuchajmy." icon="film" >
        </section-header>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-offset-2 col-lg-8 col-md-12">
        <p class="text-justify">
        Zapraszamy do odsłuchu części nagrań naszych projektów. Repertuar każdorazowo jest przygotowany dla indywidualnych potrzeb i preferencji klienta. Zakres naszych pasji muzycznych jest bardzo szeroki, więc zapraszamy do kontaktu.
        </p>
      </div>
    </div>        

    <div ng-include="'views/media/duet.html'"></div>

    <div ng-include="'views/media/trio.html'"></div>
      
    <div ng-include="'views/media/quartet.html'"></div>
    
    <div ng-include="'views/media/coverband.html'"></div>

  </div>
</div>


