<div class="container-fluid details">
  <div class="row">
    <div class="col-md-12 center-block text-center">
      <section-header text="Warsztaty" sub="Współpraca i praktyka" icon="book" >
      </section-header>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-md-12">
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-justify">Muzyka towarzyszy ludziom od zawsze - stanowi&nbsp;<highlight>narzędzie wymiany myśli, emocji i koncepcji</highlight>. Chcielibyśmy ułatwić komunikację każdemu, kto pragnie <span class="text-primary">lepiej poznać medium dźwięku</span>. Oferujemy warsztaty oraz&nbsp;<highlight>indywidualne zajęcia</highlight>&nbsp;dotyczące interesujących klienta elementów sztuki muzycznej.</p>
          <p class="lead" >Propozycje warsztatów i cykli edukacyjnych:</p>
          <ul class="lead" >
            <li>nadęte drewno, czyli rzecz o instrumentach dętych drewnianych</li>  
            <li>gra kolektywna, gra w zespole, współpraca i zestrojenie</li>
            <li>warsztat improwizacji </li>
            <li>harmonia jazzowa jako narzędzie kompozycji</li>
          </ul>
        </div>
        <div class="col-md-6">
          <img class="img-thumbnail img-responsive pic rot-r" src="images/pic_bus2.jpg" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-md-12">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-push-6">
          <p class="lead text-justify" >
          Posiadamy również w składzie specjalistkę od&nbsp;<highlight>emisji głosu</highlight>, której polem pracy są ćwiczenia kontroli głosu i oddechu.&nbsp;<highlight>Kształcimy zespoły wokalne</highlight>&nbsp;jak i chóry w zakresie spójności, melodyki, oddychania i predyspozycji scenicznych.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6">
          <img class="img-thumbnail img-responsive pic rot-l" src="images/choir.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>

