<div class="container-fluid details">
  <div class="row">
    <div class="col-md-12 center-block text-center">
      <section-header text="Warsztaty" sub="Współpraca i praktyka" icon="book" >
      </section-header>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-md-12">
      <div class="row">
        <div class="col-md-6">
          <br/>
          <p class="lead text-justify"><span class="text-primary">Muzyka</span> towarzyszy ludziom od zawsze - stanowi narzędzie wymiany myśli, emocji i koncepcji. Chcielibyśmy ułatwić komunikację każdemu, kto pragnie poznać to <span class="text-primary">narzędzie komunikacji</span>. Oferujemy warsztaty oraz indywidualne zajęcia dotyczące interesujących Klienta elementów sztuki muzycznej.</p>
        </div>
        <div class="col-md-6">
          <img class="img-thumbnail img-responsive pic" src="images/choir.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>
