<div class="container-fluid details">
  <div class="row">
    <div class="col-md-12 center-block text-center">
      <section-header text="Warsztaty" sub="Współpraca i praktyka" icon="book" >
      </section-header>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-md-12">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <p class="text-justify">Muzyka towarzyszy ludziom od zawsze - stanowi&nbsp;<highlight>narzędzie wymiany myśli, emocji i koncepcji</highlight>. Chcielibyśmy ułatwić komunikację każdemu, kto pragnie <span class="text-primary">lepiej poznać medium dźwięku</span>. </p>
          <h3>Lekcje instrumentu i warsztaty
          </h3>
          <p> 
          Z nami nauczysz się grać na różnych instrumentach:
          </p>
          <ul class="lead">
            <li class="text-justify">
            <highlight>saksofon, klarnet, flet</highlight>&nbsp;- lekcje instrumentu prowadzone są w oparciu o autorski program nauczania. Zajęcia skierowane są do&nbsp;<highlight>początkujących, średnio zaawansowanych jak i zaawansowanych</highlight>. Obejmują one technikę zadęcia, postawę, czytanie nut, teorię muzyki, harmonii jazzowej, naukę improwizacji i wiele innych zagadnień. Program dostosowywany jest do&nbsp;<highlight>zainteresowań muzycznych ucznia</highlight>. Materiały nutowe, podkłady do ćwiczeń zapewnia nauczyciel. Zajęcia prowadzi Marcin Janek - absolwent Akademii Muzycznej w Gdańsku kierunku saksofon jazzowy, koncertujący muzyk i pedagog.</li>
            <li class="text-justify">
            <highlight>pianino</highlight>&nbsp;- podstawy gry na pianinie i instrumentach klawiszowych. Budowanie akordów, tworzenie własnych akompaniamentów do popularnych melodii, podstawy improwizacji - tego nauczysz się u nas.
            </li>
            <li class="text-justify">
            <highlight>gitara</highlight>&nbsp;- lekcje gry na gitarze klasycznej, elektrycznej i akustycznej. Ulubione utwory, znane piosenki w zasięgu Twojej ręki niezależnie od tego czy dopiero zaczynasz czy też jesteś zaawansowany.
            </li>
            <li class="text-justify"><highlight>harmonia jazzowa</highlight> - nauka akordów, skal, substytutów, sposobów reharmonizacji utworów i innego rodzaju zagadnień teoretycznych.</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6">
          <img class="img-thumbnail img-responsive pic rot-r" src="images/workshops3.jpg" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-md-12">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-push-6">
          <p>Oferujemy warsztaty oraz&nbsp;<highlight>indywidualne zajęcia</highlight>&nbsp;dotyczące interesujących klienta elementów sztuki muzycznej.</p>
          <p>Propozycje warsztatów i cykli edukacyjnych:</p>
          <ul class="lead" >
            <li>Rodzina instrumentów dętych drewnianych saksofon, klarnet, flet i inne</li>  
            <li>Gra w zespole</li>
            <li>Warsztaty improwizacji</li>
            <li>Harmonia - zalety uczenia się budowy akordów</li>
          </ul>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6">
          <img class="img-thumbnail img-responsive pic rot-l" src="images/pic_bus2.jpg" />
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-offset-2 col-lg-8 col-md-12">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h3>Emisja głosu
          </h3>
          <p class="text-justify" >
          Posiadamy również w składzie specjalistkę od&nbsp;<highlight>emisji głosu</highlight>, której polem pracy są ćwiczenia kontroli głosu i oddechu.&nbsp;<highlight>Kształcimy zespoły wokalne</highlight>&nbsp;jak i chóry w zakresie spójności, melodyki, oddychania i predyspozycji scenicznych.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6">
          <img class="img-thumbnail img-responsive pic rot-r" src="images/choir.jpg" />
        </div>
      </div>
    </div>
  </div>
</div>

