<div class="row">
    <div class="col-md-12">
        <h2>
            <i class="glyphicon glyphicon-music"></i>&nbsp;
            Warsztaty&nbsp;
            <small>czyli z której strony zaatakować instrument</small>
        </h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <blockquote class="blockquote-reverse" >
            <p class="lead"><em>Mięśnie dłoni muszą być wyćwiczone i dobrze rozgrzane, żebym mógł się swobodnie wyrazić.  Żeby one mogły opowiedzieć coś za mnie.  Bo dłonie mają swoją mądrość, jakby były prowadzone. I tak jakby prowadziły mnie. <br/>  Wtedy muzyka uwalnia się sama i żyje już własnym życiem. A ja pozostaję sam. </em></p>
            <footer>
                <cite title="Source Title">Leszek Możdżer</cite>
            </footer>
        </blockquote>
    </div>
</div>


