<img src="images/asia.jpg" class="img-circle img-responsive portrait center-block" />

<h3 class="text-center">Joanna Lachowska
    <br/>
    <small>Director of Operations</small>
</h3>
<p class="text-justify">Inteligentna, energiczna, gotowa sprostać wszelkim stawianym jej wyzwaniom. Niezrównana organizatorka, czempion public relations i mistrz plucia ogniem. Prywatnie uwielbiająca podróże właścicielka pięciu czarnych kotów, amatorka grillowania na balkonie i chodzenia po linie. Jakiegoś sensownego tekstu bym tu potrzebował.</p>

<h5>Specjalność</h5>
<ul class="list-group">
    <li class="list-group-item">zajęcia wokalne</li>
    <li class="list-group-item">zajęcia integracyjne z wykorzystaniem muzyki</li>
    <li class="list-group-item">zajęcia rozwoju osobistego</li>
    <li class="list-group-item">rytmika w przedszkolach</li>
    <li class="list-group-item">emisja głosu</li>
    <li class="list-group-item">gra na pianinie</li>
</ul>
