<div class="page-section no-marketing">
    <div class="container-fluid details">
        <div class="row">
            <div class="col-md-12 center-block text-center">
                <h2>
                    <i class="glyphicon glyphicon-star"></i>&nbsp; O nas&nbsp;
                    <small>W pracy i prywatnie</small>
                </h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-4">
                <img src="images/asia.jpg" class="img-circle img-responsive portrait" />

                <h3 class="text-center">Joanna Lachowska
                    <br/>
                    <small>Director of Operations</small>
                </h3>
                <p class="text-justify">Inteligentna, energiczna, gotowa sprostać wszelkim stawianym jej wyzwaniom. Niezrównana organizatorka, czempion public relations i mistrz plucia ogniem. Prywatnie uwielbiająca podróże właścicielka pięciu czarnych kotów, amatorka grillowania na balkonie i chodzenia po linie. Jakiegoś sensownego tekstu bym tu potrzebował.</p>

                <h5>Specjalność</h5>
                <ul class="list-group">
                    <li class="list-group-item">zajęcia wokalne</li>
                    <li class="list-group-item">zajęcia integracyjne z wykorzystaniem muzyki</li>
                    <li class="list-group-item">zajęcia rozwoju osobistego</li>
                    <li class="list-group-item">rytmika w przedszkolach</li>
                    <li class="list-group-item">emisja głosu</li>
                    <li class="list-group-item">gra na pianinie</li>
                </ul>

            </div>
            <div class="col-md-offset-2 col-md-4">
                <img src="images/marcin.jpg" class="img-circle img-responsive portrait" />
                <h3 class="text-center">Marcin Janek
                    <br/>
                    <small>Director of Sound</small>
                </h3>
                <p class="text-justify">
                    <span class="text-primary">Saksofonista i klarnecista.</span>&nbsp;Absolwent Szkoły Muzycznej I i II st. w Gdańsku Wrzeszczu w klasie klarnetu, obecnie student Akademii Muzycznej w Gdańsku na kierunku jazz i muzyka estradowa w klasie saksofonu Macieja Sikały, absolwent Uniwersytetu Gdańskiego na kierunku historia. Pobierał lekcje klarnetu jazzowego u Emila Kowalskiego. Instruktor saksofonu w szkole Musicollective.</p>

                <p class="text-justify">
                    <span class="text-primary">Jest zwycięzcą</span>&nbsp;Nagrody Głównej na Jazz & School festiwal 2013 w kategorii: solista Akademia Muzyczna, gdzie zagrał wraz ze znakomitym pianistą Jakubem Ostrowskim.</p>

                <p class="text-justify">
                    <span class="text-primary">Współpracował ze światowej klasy artystami</span>&nbsp;takimi jak wokalista Norm Lewis (USA), Judy Carmichael (USA), Leszek Możdżer, Lorraine Brown (UK), Fra Fra Sound (Holandia), Filip Wojciechowski (PL), Nicola Laud (UK), Ewa Uryga (PL), Ewa Bem (PL), Grażyna Łobaszewska (PL), Mark Newsome (UK).</p>

                <p class="text-justify">
                    <span class="text-primary">Występował na wielu festiwalach</span>, m.in.: w Brukselii Hevelius Monstar z A-freak-an Project Wojciecha Staroniewicza (feat. Leszek Możdżer), Gdańskie noce jazsowe z Uhuru Trio i Big Bandem Jana Konopa, Komeda Jazz Festiwal z Big Bandem Leszka Kułakowskiego, z własnym kwintetem jazzowym jako Marcin Janek Quintet na Festiwalu Jazz Jantar.</p>

                <p class="text-justify">
                    <span class="text-primary">Koncertował ze znakomitym zespołem Quartesencja</span>&nbsp;Łukasza Piechoty po Europie, Afryce, Ameryce Północnej i Południowej grając jako w zespole typu „show band” dla kompanii Silver Sea.</p>

                <p class="text-justify">Obecnie współpracuje z zespołami takimi jak:
                    <span class="text-primary">A&#8209;freak&#8209;an Project</span>&nbsp;Wojciecha Staroniewicza,
                    <span class="text-primary">Jan Konop Big Band</span>,
                    <span class="text-primary">Big Band Akademii Muzycznej w Gdańsku</span>&nbsp;prof. Leszka Kułakowskiego z którymi zdobył wiele nagród (w tym pierwsze miejsca) na ogólnopolskich przeglądach big bandów, Tangueros Balticos. Był także członkiem zespołów takich jak:
                    <span class="text-primary">Riverboat Ramblers</span>&nbsp;(jazz tradycyjny), czy też
                    <span class="text-primary">Orkiestra Daniela Nosewicza</span>. Współpracuje z Teatrem Muzycznym w Gdyni i Operą Bałtycką.</p>

                <p class="text-justify">Usłyszeć go można także ze znanym artystą grafikiem, mistrzem muzyki klubowej
                    <span class="text-primary">DJ Tuse</span>.</p>
            </div>
        </div>
    </div>
</div>