<div class="page-section">
    <div class="container-fluid details">
        <div class="row">
            <div class="col-md-12">
                <section-header text="Kontakt" icon="earphone" sub="Zadzwoń lub napisz" >
                </section-header>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-4 col-md-offset-2">
                <address class="center-block info" >
                    <span class="text-primary lead">John's Music</span>
                    <br/>Agencja Artystyczno-Edukacyjna
                    <br/>z siedzibą w Gdańsku
                    <br/>NIP 877-147-59-81
                    <br/>
                    <br/>
                    <i class="icon-phonealt"></i>&nbsp;
                    Edukacja <a href="tel:515-893-906">515-893-906</a>
                    <br/>
                    <i class="icon-phonealt"></i>&nbsp;
                    Oprawa muzyczna <a href="tel:515-381-621">515-381-621</a>
                    <br/>
                    <i class="icon-envelope"></i>&nbsp;
                    <a href="mailto:johnsmusic@spoko.pl">johnsmusic@spoko.pl</a>
                </address>
                <div class="social center-block text-info">
                    <a href="">
                        <i class="icon-circlefacebook"></i>
                    </a>
                    <a href="">
                        <i class="icon-circletwitter"></i>
                    </a>
                    <a href="">
                        <i class="icon-circlegoogleplus"></i>
                    </a>
                    <a href="">
                        <i class="icon-circleinstagram"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-5 hidden-sm">
                <iframe class="center-block" width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?t=m&amp;q=Gda%C5%84sk&amp;ie=UTF8&amp;hq=&amp;hnear=Gda%C5%84sk,+Pomeranian+Voivodeship,+Poland&amp;ll=54.352004,18.647318&amp;spn=0.024011,0.054932&amp;z=14&amp;output=embed"></iframe>
                <br />
                <small>
                    <a href="https://www.google.com/maps?t=m&amp;q=Gda%C5%84sk&amp;ie=UTF8&amp;hq=&amp;hnear=Gda%C5%84sk,+Pomeranian+Voivodeship,+Poland&amp;ll=54.352004,18.647318&amp;spn=0.024011,0.054932&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">Powiększ</a>
                </small>
            </div>
        </div>

        <div class="contact-map row">
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                
            </div>
        </div>
    </div>
</div>
</div>
