<div class="page-section">
    <div class="container-fluid details">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">
                    <i class="glyphicon glyphicon-earphone"></i>&nbsp; Kontakt&nbsp;
                    <br/>
                    <small>Zadzwoń lub napisz</small>
                </h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <address class="center-block" style="width: 40%;">
                    <span class="text-danger lead">Joanna Lachowska</span>
                    <br/>
                    <i class="glyphicon glyphicon-phone"></i>&nbsp;
                    <a href="phone:123-123-123">123-123-123</a>
                    <br/>
                    <i class="glyphicon glyphicon-envelope"></i>&nbsp;
                    <a href="mailto:#">first.last@example.com</a>
                </address>
            </div>
            <div class="col-md-6">
                <div class="center-block" style="width: 40%;">
                    <address>
                        <span class="text-danger lead">John's Music</span>
                        <br/>ul. Testowa 13/23/12A
                        <br/>23-345 Gdańsk
                    </address>
                </div>
            </div>
        </div>

        <div class="contact-map row">
            <div class="col-md-12">
                <iframe class="center-block" width="100%" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?t=m&amp;q=Gda%C5%84sk&amp;ie=UTF8&amp;hq=&amp;hnear=Gda%C5%84sk,+Pomeranian+Voivodeship,+Poland&amp;ll=54.352004,18.647318&amp;spn=0.024011,0.054932&amp;z=14&amp;output=embed"></iframe>
                <br />
                <small>
                    <a href="https://www.google.com/maps?t=m&amp;q=Gda%C5%84sk&amp;ie=UTF8&amp;hq=&amp;hnear=Gda%C5%84sk,+Pomeranian+Voivodeship,+Poland&amp;ll=54.352004,18.647318&amp;spn=0.024011,0.054932&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">Powiększ</a>
                </small>
            </div>
        </div>
    </div>
</div>
</div>