<div class="page-section">
    <div class="container-fluid details">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">
                    <i class="glyphicon glyphicon-earphone"></i>&nbsp; Kontakt&nbsp;
                    <small>Zadzwoń lub napisz</small>
                </h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="lead ">
                    <address class="text-center">
                        <strong>Joanna Lachowska</strong>
                        <br>Telefon:
                        <a href="phone:123-123-123">123-123-123</a>
                        <br/>
                        <a href="mailto:#">first.last@example.com</a>
                    </address>

                    <address class="text-center">
                        <strong>"John's Music"</strong>
                        <br/>ul. Testowa 13/23/12A
                        <br/>23-345 Gdańsk
                    </address>

                </p>
            </div>
            <div class="col-md-8">
                <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?t=m&amp;q=Gda%C5%84sk&amp;ie=UTF8&amp;hq=&amp;hnear=Gda%C5%84sk,+Pomeranian+Voivodeship,+Poland&amp;ll=54.352004,18.647318&amp;spn=0.024011,0.054932&amp;z=14&amp;output=embed"></iframe>
                <br />
                <small>
                    <a href="https://www.google.com/maps?t=m&amp;q=Gda%C5%84sk&amp;ie=UTF8&amp;hq=&amp;hnear=Gda%C5%84sk,+Pomeranian+Voivodeship,+Poland&amp;ll=54.352004,18.647318&amp;spn=0.024011,0.054932&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">Powiększ</a>
                </small>
            </div>
        </div>
    </div>
</div>