<div id="start" >
    {% include 'home/home.html' %}
</div>

<div class="bg-even" >
{% include 'home/details.html' %}
</div>

<div class="bg-odd" >
    {% include 'services/concert/view.html' %}
</div>
<div class="bg-even" >
    {% include 'services/business/view.html' %}
</div>
<div class="bg-odd" >
    {% include 'services/event/view.html' %}
</div>
<div class="bg-even" >
    {% include 'media/view.html' %}
</div>
<div class="bg-odd" >
    {% include 'education/workshops/view.html' %}
</div>
<div class="bg-even" >
    {% include 'education/classes/view.html' %}
</div>
<div class="bg-odd" >
    {% include 'about/view.html' %}
</div>
<div class="bg-even" >
    {% include 'contact/view.html' %}
</div>

<div class="page-footer" >
    {% include 'footer.html' %}
</div>
