<div id="start" ng-include="'views/home/home.html'"></div>

<div id="home" ng-include="'views/home/details.html'"></div>

<div class="bg-odd" ng-include="'views/services/concert/view.html'"></div>

<div class="bg-even" ng-include="'views/services/business/view.html'"></div>

<div class="bg-odd" ng-include="'views/services/event/view.html'"></div>

<div class="bg-even" ng-include="'views/media/view.html'" ng-controller="MediaController" ></div>

<div class="bg-odd" ng-include="'views/education/workshops/view.html'"></div>

<div class="bg-even" ng-include="'views/education/classes/view.html'"></div>

<div class="bg-odd" ng-include="'views/about/view.html'"></div>

<div class="bg-even" ng-include="'views/contact/view.html'"></div>

<div ng-include="'views/footer.html'" ></div>

