<div ng-class="{ 'navbar-wrapper': showCarousel() }" >
    <div class="menu-container container">

        <div class="menu navbar navbar-inverse navbar-static-top" role="navigation">
            <div>
                <div>
                    <div class="navbar-header ">
                        <button type="button" class="navbar-toggle" ng-click="menuCollapsed = !menuCollapsed">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand visible-xs" href="#">
                            <div class='logo'>
                            </div>
                        </a>
                    </div>
                    <div collapse="menuCollapsed" class="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="hidden-xs">
                                <a class="navbar-brand" href="#/">
                                    <div class='logo'>
                                    </div>
                                </a>
                            </li>

                            <menu-item href="#/" icon="star" text="O nas"></menu-item>

                            <menu-item icon="music" text="Oprawa muzyczna" dropdown="true">
                                <menu-list-item text="Koncerty" href="#/services/concert" />
                                <menu-list-item text="Imprezy firmowe" href="#/services/business" />
                                <menu-list-item text="Imprezy okolicznościowe" href="#/services/event" />
                            </menu-item>

                            <menu-item icon="book" text="Edukacja"  dropdown="true">
                                <menu-list-item text="Zajęcia muzyczne" href="#/education/classes" />
                                <menu-list-item text="Warsztaty" href="#/education/workshops" />
                            </menu-item>

                            <menu-item href="#/media" icon="film" text="Media"></menu-item>
                            
                            <menu-item href="#/contact" icon="earphone" text="Kontakt"></menu-item>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>