<div ng-class="{ 'navbar-wrapper': showCarousel() }">
    <div class="menu-container container">

        <div class="menu navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="">
                <div class="">
                    <div class="navbar-header ">
                        <button type="button" class="navbar-toggle" ng-click="menuCollapsed = !menuCollapsed" >
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand visible-xs" href="#">
                            <div class='logo'>
                            </div>
                        </a>
                    </div>
                    <div collapse="menuCollapsed" class="navbar-collapse navbar-left">
                        <ul class="nav navbar-nav">
                            <li class="hidden-xs" >
                                <a class="navbar-brand" href="#/">
                                    <div class='logo'>
                                    </div>
                                </a>
                            </li>
                            <li class="active menu-item">
                                <a href="#/">
                                    <i class="glyphicon glyphicon-star"></i>&nbsp; O nas
                                </a>
                            </li>
                            <li class="dropdown menu-item">
                                <a href="#/music" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="glyphicon glyphicon-music"></i>&nbsp; Oprawa muzyczna
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#/services/concert">Koncerty</a>
                                    </li>
                                    <li>
                                        <a href="#/services/business">Imprezy firmowe</a>
                                    </li>
                                    <li>
                                        <a href="#/services/event">Imprezy okolicznościowe</a>
                                    </li>
                                </ul>

                            </li>
                            <li class="dropdown menu-item">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="glyphicon glyphicon-book"></i>&nbsp; Edukacja</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="#/education/classes">Zajęcia muzyczne</a>
                                    </li>
                                    <li>
                                        <a href="#/education/workshops">Warsztaty</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="#/contact">
                                    <i class="glyphicon glyphicon-film"></i>&nbsp; Media
                                </a>
                            </li>
                            <li class="menu-item">
                                <a href="#/contact">
                                    <i class="glyphicon glyphicon-earphone"></i>&nbsp; Kontakt
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>